.feynman__title {
    position: relative;
    max-width: 648px;
    margin: 100px auto 70px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    z-index: 2;
    display: flex;
}